
<div class="container container-fluid text-center">
    <p style="font-weight:bold;font-family:Consolas;font-size:18px;border:1px solid black;border-radius:10px;padding:10px">Votre compte est en attente d'activation par les responsables du systeme</p>
    <hr />
    <div class="spinner-border" role="status"></div>
</div>

